DB_NAME='your-db-name(match with the name in config file)'
DB_USER=your-db-user
DB_PASSWORD=your-db-password

GITHUB_ACTOR=your-github-username
GITHUB_TOKEN=your-github-token

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

FACEBOOK_CLIENT_ID=
FACEBOOK_CLIENT_SECRET=

OAUTH2_REDIRECT_URI=
